on:
  pull_request_target:
    branches: [ main ]

permissions:
  pull-requests: write

jobs:
  bench:
    runs-on: ubuntu-latest
    steps:
      - uses: MilesCranmer/AirspeedVelocity.jl@action-overhaul
        with:
          julia-version: '1'
          exe-flags: '-O3'
